
/* FIRST PART */
/* .container{
   display: flex;
   justify-content: space-between;
} */

/* SECOND PART */
/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


/* THIRD PART */
/* .container {
    display: flex;
    align-items: flex-end;
} */

/* 
.box.short {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 27px;
    margin: 12px;
    font-family: Arial, sans-serif;
    color: #adadad;
}

.box.tall {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 27px;
    margin: 12px;
    font-family: Arial, sans-serif;
    color: #adadad; 
}

.box.medium {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 27px;
    margin: 12px;
    font-family: Arial, sans-serif;
    color: #adadad;
} */

/* FOURTH PART */
/* .container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
} */

.card {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 27px;
    margin: 12px;
    font-family: Arial, sans-serif;
    color: #adadad; 
    width: 155px;
}

/* FIFTH PART */
/* .container {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    width: 360px;
    height: 220px;
} */

.container {
    

}




